<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<link rel="stylesheet" th:href="@{/css/loginForm.css}">
	<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

	<!-- 메뉴 바 -->
	<div th:replace="~{layout/header :: header}"></div>

	<div class="container">
		<h1>로그인</h1>

		<!-- id, pw, ID기억하기(checkbox) 입력폼 작성 -->
		<form th:action="@{/member/login}" method="post">
			<label for="id">ID</label>
			<input type="text" name="id" id="id">
			<label for="pw">PW</label>
			<input type="password" name="pw" id="pw">
			<label>
				<input type="checkbox" name="check" value="true" checked>
				ID기억하기
			</label>
			<input type="submit" value="로그인">
		</form>
	</div>

</body>
</html>
