<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>css</title>
      <Link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

      <h2>[ CSS 파일 불러오기 ]</h2>

  <table class="custom-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>이메일</th>
            <th>가입일</th>
        </tr>
    </thead>
    <tbody>
          <tr>
            <td>1</td>
            <td>홍길동</td>
            <td>hong@exmaple.com</td>
            <td>2026-06-01</td>
          </tr>
          <tr>
            <td>2</td>
            <td>김철수</td>
            <td>chulsoo@exmaple.com</td>
            <td>2026-06-10</td>
          </tr>
          <tr>
            <td>3</td>
            <td>이영희</td>
            <td>younghee@exmaple.com</td>
            <td>2026-06-06</td>
          </tr>
    </tbody>
  </table>

  </body>
</html>