<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home.html</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script>

    </script>
</head>
<body>
    <header>
        <h1>맛집리스트</h1>
        <a th:href="@{/restaurant/write}">+ 맛집 등록</a>
    </header>

    <section>
        <div class="restaurant-card" th:each="restaurant : ${restaurantList}">
            <span class="category" th:text="${restaurant.category}"></span>
            <h3 th:text="${restaurant.name}"></h3>
            <div class="stars" th:text="${restaurant.starDisplay}"></div>
            <p th:text="|📍 ${restaurant.address}|"></p>
            <p th:text="|☎ ${restaurant.phone}|"></p>
        </div>
    </section>
</body>
</html>