<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>home.html</title>
    </head>
    <body>

            <h1>[ web2 ]</h1>

            <ol>
                <li>
                    <details>
                        <summary>Lombok & Logger 사용</summary>
                        <ul>
                            <li><a href="lom/lombok">Lombok 활용하기</a></li>
                            <li><a href="lom/logger">Logger 활용하기</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>서버와 값 주고 받기</summary>
                        <ul>
                            <li><a href="param/get-param">GET method로 parameter 전달</a> </li>
                            <li><a href="param/post-param">POST method로 parameter 전달</a> </li>
                            <li><a href="param/post-param-object">POST method로 parameter 전달 - 객체로 받기</a> </li>
                            <li><a href="param/input4?name=abc&age=11">GET method로 parameter 전달 - Form 없이(Query String)</a></li>
                            <li><a href="param/input4">GET method로 parameter 전달 - 전달되는 값이 없는 경우</a></li>

                            <li><a href="param/model">Model 사용하기</a> </li>
                            <li><a href="param/validation">유효성 검사 - Validation</a></li>
                        </ul>
                    </details>
                </li>
                <li>
                    <details>
                        <summary>세션</summary>
                        <ul>
                            <li>
                                <strong>[세션 테스트]</strong>
                                <ol>
                                    <li><a href="session/save">Session에 저장</a></li>
                                    <li><a href="session/read">Session에 읽기</a></li>
                                    <li><a href="session/clear">Session에 삭제</a></li>
                                </ol>
                            </li>
                            <li>
                                <strong>[로그인 테스트]</strong>
                                <ol>
                                    <li><a href="session/login">로그인</a></li>
                                    <li><a href="session/logout">로그아웃</a></li>
                                    <li><a href="session/loginTest">로그인 해야 들어갈 수 있는 페이지</a></li>
                                </ol>
                            </li>
                        </ul>
                    </details>
                </li>
            </ol>
    </body>
</html>