<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Notice</title>
    <!-- CSS 적용 & JS 적용 -->
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <!-- 상단 메뉴 -->
    <header>
        <a href="./">홈</a>
        <a href="introduce">소개</a>
        <a href="notice">공지</a>
        <a href="inquiry">문의</a>
    </header>
    
    <!-- 본문 내용 -->
    <main>
        <h1>공지</h1>
        <p>외부 CSS 적용할 것. (menu.css)</p>
        <p>목록 or 표 작성할 것. (내용은 아무거나 상관X)</p>
        
        <!-- Code Here -->
    </main>
</body>
</html>