<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>web4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href=@{/css/list.css}>
    <!-- SweetAlert 사용(CDN) -->
    <script defer th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
    <!-- defer: HTML 문서가 끝까지 다 읽혀서 화면이 완전히 구성된 직후에 다운로드 완료된 자바스크립트를 차례대로 실행 -->
    <script defer th:src="@{/js/list.js}"></script>
</head>
<body>

    <div class="container">
        <div class="top">
            <h2>방명록</h2>
            <a th:href="@{/guestbook/write}">
                <img th:src="@{/img/icon_write.png}">
            </a>
        </div>
        <div class="items">
            <div class="item">
                <span class="badge-hot">🔥 HOT</span>
                <div class="like-floating">
                    <form>
                        <button type="submit" class="like-icon-btn">
                            ❤ <span class="like-count">0</span>
                        </button>
                    </form>
                </div>
                <p>
                    <label>글번호</label>
                    <span></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>작성자</label>
                    <span></span>
                </p>
                <p>
                    <label>작성일</label>
                    <span></span>
                </p>

                <textarea rows="4" cols="30" readonly></textarea>
                <form>
                    <input type="password" name="password" placeholder="비밀번호를 입력하세요..">
                    <div class="btn-row">
                        <button class="action-btn update-btn">수정</button>
                        <button class="action-btn delete-btn">삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
