<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>web4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <!-- SweetAlert 사용(CDN) -->
    <script defer th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
    <!-- defer: HTML 문서가 끝까지 다 읽혀서 화면이 완전히 구성된 직후에 다운로드 완료된 자바스크립트를 차례대로 실행 -->
    <script defer th:src="@{/js/list.js}"></script>
</head>
<body th:data-msg="${msg}">

    <div class="container">
        <div class="top">
            <h2>방명록</h2>
            <a th:href="@{/guestbook/write}">
                <img th:src="@{/img/icon_write.png}">
            </a>
        </div>
        <div class="items">
            <div class="item" th:each="guest : ${guestbookList}">
                <span th:if="${guest.recommendCnt >= 10}"
                        class="badge-hot">🔥 HOT</span>
                <div class="like-floating">
                    <form th:action="@{/guestbook/recommend/{num}(num=${guest.num})}" method="post">
                        <button type="submit" class="like-icon-btn">
                            ❤ <span class="like-count" th:text="${guest.recommendCnt}">0</span>
                        </button>
                    </form>
                </div>
                <p>
                    <label>글번호</label>
                    <span th:text="${guest.num}"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label>작성자</label>
                    <span th:text="${guest.name}"></span>
                </p>
                <p>
                    <label>작성일</label>
                    <span th:text="${#temporals.format(guest.inputdate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                </p>

                <textarea rows="4" cols="30" readonly th:text="${guest.message}"></textarea>
                <form>
                    <input type="password" name="password" placeholder="비밀번호를 입력하세요..">
                    <div class="btn-row">
                        <button class="action-btn update-btn" th:formaction="@{/guestbook/update/{num}(num=${guest.num})}" formmethod="get">수정</button>
                        <button class="action-btn delete-btn" th:formaction="@{/guestbook/delete/{num}(num=${guest.num})}" formmethod="post">삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

<!--게시글 수정 처리-->
<!--
    요구사항
    1. list.html 에서 수정버튼을 클릭하면 게시글번호와 비밀번호를 요청 함께 전송
    2. 비밀번호가 DB에 저장된 비밀번호와 일치한다면 해당 게시글 정보를 조회하여 수정페이지(updateForm.html)로 해당 게시글 정보를 보낸다.
    3. 수정페이지에서 해당 게시글 정보를 타임리프로 출력한다.
    4. 수정하고자 하는 게시글 정보를 form 전송한다.
    5. DB에 수정처리한다.
-->

