<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>home.html</title>
    </head>
    <body>
        <h1>[ 학생 목록 ]</h1>

        <table>
            <thead>
                <tr>
                    <th>학번</th>
                    <th>이름</th>
                    <th>전공</th>
                    <th>이해도</th>
                    <th>etc</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>