<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>4. delete-form.html</title>
</head>
<body>
<h1>[ 삭제하기 ]</h1>

<form th:action="@{/person/delete-person}" method="post">
    <table>
        <tr>
            <th>아이디</th>
            <td><input type="text" name="deleteId" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="삭제">
            </td>
        </tr>
    </table>
</form>
</body>
</html>